<div matDialogContent class="detail-container" [ngClass]="layout" (window:resize)="onResize($event)">
    <div class="flex-content">
        <mat-card class="card-wrapper" [ngStyle]="{'border-radius.px': (cardHeight$ | async) * 0.025}">
            <div #cardElement class="card-content">
                <app-bird-card [card]="data.card" [cardHeight$]="cardHeight$"></app-bird-card>
            </div>
            <div class="note" *ngIf="data.card.Note">
                <h2>Appendix entry</h2>
                <div [innerHTML]="data.card.Note | iconize"></div>
            </div>
            <div class="rulings" [ngClass]="{'negative-margin': !data.card.Note}" *ngIf="data.card.rulings.length || data.card.additionalRulings.length">
                <h2 *ngIf="data.card.rulings.length">Official rulings</h2>
                <div>
                    <div class="ruling" *ngFor="let ruling of data.card.rulings">
                        <span [innerHTML]="ruling.text | iconize"></span>
                        <a [href]="ruling.source" target="_blank" rel="noopener noreferrer"
                            *ngIf="ruling.source.startsWith('http')">
                            <mat-icon svgIcon="externalLink"></mat-icon>
                        </a>
                        <a [matTooltip]="ruling.source" *ngIf="!ruling.source.startsWith('http')">
                            <mat-icon svgIcon="externalLink"></mat-icon>
                        </a>
                    </div>
                </div>
                <h2 *ngIf="data.card.additionalRulings.length">{{data.card.rulings.length ? "Additional related rulings"
                    : "Related rulings"}}</h2>
                <div>
                    <div class="ruling" *ngFor="let ruling of data.card.additionalRulings">
                        <span [innerHTML]="ruling.text | iconize"></span>
                        <a [href]="ruling.source" target="_blank" rel="noopener noreferrer"
                            *ngIf="ruling.source.startsWith('http')">
                            <mat-icon svgIcon="externalLink"></mat-icon>
                        </a>
                        <a [matTooltip]="ruling.source" *ngIf="!ruling.source.startsWith('http')">
                            <mat-icon svgIcon="externalLink"></mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="flex-content right">
        <div matDialogClose class="carousel-info" *ngIf="layout !== 'mobile'"></div>
        <div class="carousel-wrapper">
            <div class="carousel-title">
                Compatible bonus cards
                <div class="subtitle">(Best point value)</div>
            </div>
            <div class="carousel">
                <div #bonusCardElement class="bonus-card-wrapper" *ngFor="let bonus of bonusCards$ | async; index as i"
                    [ngStyle]="bonusCardStyle(i) | async">
                    <app-bonus-card [card]="bonus" [cardHeight$]="bonusCardHeight$"></app-bonus-card>
                    <div class="bonus-card-stats" [ngStyle]="cardStatsStyle() | async">
                        <div class="bonus-card-title" *ngIf="layout !== 'mobile'">{{bonus.Name}}</div>
                        <div class="bonus-card-vp-average">
                            {{bonus['VP Average']}}
                            <picture class="icon-picture">
                                <source type="image/webp" srcset="assets/icons/png/point.webp">
                                <source type="image/png" srcset="assets/icons/png/point.png">
                                <img class="icon-image" src="assets/icons/png/point.png" alt="point" aria-hidden="false"
                                    aria-label="point icon">
                            </picture>
                            on average
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button mat-icon-button matDialogClose cdkFocusInitial aria-label="Clear">
    <mat-icon>close</mat-icon>
</button>