<div class="stats-container" [ngClass]="{mobile: mobile}" *ngIf="stats$ | async as stats">
    <span class="stats-entry" [ngClass]="{inactive: !statsControls.bonuses}" (click)="toggleCards('bonuses', $event)"
        matTooltip="{{statsControls.bonuses ? 'Filter out' : 'Count in'}} all bonuses">
        {{stats.bonusCards}}
        <picture>
            <source type="image/webp" srcset="assets/cards/backgrounds/bonus-background.webp">
            <source type="image/png" srcset="assets/cards/backgrounds/bonus-background.jpg">
            <img src="assets/cards/backgrounds/bonus-background.jpg" alt="bonus cards">
        </picture>
    </span>
    <span class="stats-entry" [ngClass]="{inactive: !statsControls.birds}" (click)="toggleCards('birds', $event)"
        matTooltip="{{statsControls.birds ? 'Filter out' : 'Count in'}} all birds">
        {{stats.birdCards}}
        <picture>
            <source type="image/webp" srcset="assets/icons/png/bird.webp">
            <source type="image/png" srcset="assets/icons/png/bird.jpg">
            <img src="assets/icons/png/bird.png" alt="birds">
        </picture>
    </span>
    <div class="habitat-container" [ngClass]="{mobile: mobile}"
        matTooltip="Filter birds that can live in a specific habitat">
        <span class="stats-entry" [ngClass]="{inactive: !statsControls.habitat.forest}"
            (click)="toggleHabitat('forest', $event)">
            {{stats.habitat.forest}}
            <picture>
                <source type="image/webp" srcset="assets/icons/png/forest.webp">
                <source type="image/png" srcset="assets/icons/png/forest.jpg">
                <img src="assets/icons/png/forest.png" alt="forest birds">
            </picture>
        </span>
        <span class="stats-entry" [ngClass]="{inactive: !statsControls.habitat.grassland}"
            (click)="toggleHabitat('grassland', $event)">
            {{stats.habitat.grassland}}
            <picture>
                <source type="image/webp" srcset="assets/icons/png/grassland.webp">
                <source type="image/png" srcset="assets/icons/png/grassland.jpg">
                <img src="assets/icons/png/grassland.png" alt="grassland birds">
            </picture>
        </span>
        <span class="stats-entry" [ngClass]="{inactive: !statsControls.habitat.wetland}"
            (click)="toggleHabitat('wetland', $event)">
            {{stats.habitat.wetland}}
            <picture>
                <source type="image/webp" srcset="assets/icons/png/wetland.webp">
                <source type="image/png" srcset="assets/icons/png/wetland.jpg">
                <img src="assets/icons/png/wetland.png" alt="wetland birds">
            </picture>
        </span>
    </div>
</div>