<div class="content-wrapper" *ngIf="cardHeight$ | async as cardHeight">
    <div class="title" [innerHTML]="card['Name'] | iconize"
        [ngStyle]="{'font-size.px': cardHeight * 0.056, 'line-height.px': cardHeight * 0.056 + 1}"></div>

    <div class="description" [innerHTML]="card['Condition'] | iconize"
        [ngStyle]="{'font-size.px': cardHeight * 0.052, 'line-height.px': cardHeight * 0.052 + 1}"></div>

    <div class="points">
        <div class="condition c{{c}}-{{i}}" *ngFor="let condition of getPointConditions(); index as i; count as c"
            [ngStyle]="{'font-size.px': cardHeight * 0.05, 'line-height.px': cardHeight * 0.05 + 1}">
            <div class="part" [ngClass]="{point: part.point}" *ngFor="let part of condition"
                [innerHTML]="part.value | iconize"></div>
        </div>
    </div>
    <div class="explanation" *ngIf="card['Explanatory text']" [innerHTML]="card['Explanatory text'] | iconize"
        [ngStyle]="{'font-size.px': cardHeight * 0.042, 'line-height.px': cardHeight * 0.042 + 1}"></div>
    <div class="percentage" *ngIf="card['%'] !== '-'"
        [ngStyle]="{'font-size.px': cardHeight * 0.034, 'line-height.px': cardHeight * 0.034 + 1}">
        ({{card['%'] + '% ' + ('of cards' | translate)}})
    </div>
</div>
