.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: 14%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}

.content-wrapper.originalcore {
    background-image: url('../../assets/icons/svg/expansion-indicators/originalcore.svg');
}

.content-wrapper.swiftstart {
    background-image: url('../../assets/icons/svg/expansion-indicators/swiftstart.svg');
}

.content-wrapper.european {
    background-image: url('../../assets/icons/svg/expansion-indicators/european.svg');
}

.content-wrapper.oceania {
    background-image: url('../../assets/icons/svg/expansion-indicators/oceania.svg');
}

.title {
    font-family: DarbogBold, Arial, Helvetica;
    color: #666666;
    margin: 4%;
    padding: 1%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cee4e6;
    border-style: double;
    border-width: 3px;
    text-align: center;

    ::ng-deep {
        .icon-picture {
            margin-right: 2%;
        }

        .icon-image {
            bottom: unset;
        }
    }
}

.description {
    min-height: 14%;
    margin: 7%;
    margin-bottom: 2%;
    font-family: FuturaLight;
    text-align: center;

    ::ng-deep {
        table {
            border-collapse: collapse;
            margin-bottom: 1em;
        }

        table td, table th {
        border: 0.5px solid #666666;
        }
        table tr:first-child th {
        border-top: 0;
        }
        table tr:last-child td {
        border-bottom: 0;
        }
        table tr td:first-child,
        table tr th:first-child {
        border-left: 0;
        }
        table tr td:last-child,
        table tr th:last-child {
        border-right: 0;
        }

        th {
            font-family: CardenioModernBold, Arial, Helvetica;
            font-size: 80%;
        }
        
        th:first-child {
            width: 35%;
        }
        
        th:last-child {
            width: 65%;
        }
        
        td {
            font-size: 75%;
        }
    }
}

.points {
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
    font-family: CardenioModernBold;
    color: #666666;
    flex-wrap: wrap;

    .condition {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50%;
        margin: 2% 0;
        
        .part.point{
            font-size: 1.5em;
            line-height: 1.8em;
            position: relative;
            top: -8%;

            ::ng-deep {
                .icon-image {
                    max-height: 1.5em;
                    max-width: 1.5em;
                    bottom: -0.5em;
                    left: -0.3em;
                }

                .icon-picture {
                    max-height: 1.5em;
                    max-width: 1.5em;
                }
            }
        }

        .part {
            text-align: center;
            margin: 0 2px;
        }
    }

    .condition.c3-0 {
        max-width: 100%;
    }
}

.explanation {
    font-family: FuturaLight;
    font-style: italic;
    margin: 4%;
    text-align: center;
}

.percentage {
    font-family: FuturaLight;
    margin-top: auto;
    margin-bottom: 2%;
    text-align: center;
}

.footer {
    height: 9%;
    display: flex;
    flex-direction: row-reverse;
}

.expansion-indicator {
    height: 100%;
    border-bottom-right-radius: 8px;
}
