<mat-card class="mat-elevation-z20">
    <div class="body">
        <div class="text">
            <strong>We use cookies</strong><br>
            But only for google analytics and to save some filter settings
            (so you don't have to filter out expansions each time).
        </div>
    </div>
    <mat-card-actions>
        <div class="choice grey" (click)="setConsent('0')">Nope</div>
        <div class="choice green" (click)="setConsent('1')">Sure, I want it</div>
    </mat-card-actions>
</mat-card>
