<div class="option-container">
    <div class="image-wrapper">
    <img src="assets/cards/bonuses/{{card.id}}.jpg"
        onerror="this.style.display='none'" alt="{{card.Name}} bonus card" loading="lazy">
    </div>
    <div class="description-container">
        <div class="name" [innerHTML]="card.Name | iconize">
        </div>
        <div class="description" [innerHTML]="card.Condition | iconize">
        </div>
        <div class="explanation" *ngIf="card['Explanatory text']">
            {{card['Explanatory text']}}
        </div>
    </div>
</div>