:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../assets/footer-background.webp');
    background-size: contain;
    padding: 20px;
    margin-top: auto;
}

.no-webpalpha footer {
    background-image: url('../assets/footer-background.jpg');
}

.image-wrapper {
    max-width: 400px;
    margin: 0 -10px 0 20px;

    img {
        width: 100%;
        height: auto;
    }
}

.text-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin: 10px 0;

    .text {
        text-align: center;
        font-size: 16px;
        font-family: FuturaLight;
        line-height: 24px;
        font-weight: 600;

        a {
            color: black;
            text-decoration: unset;
        }
    }
}

@media screen and (min-width: 720px) {
    footer {
        flex-wrap: nowrap;
    }
}

app-consent {
    position: fixed;
    bottom: 5px;
    right: 5px;
}
