<app-search></app-search>

<app-display></app-display>

<footer>
    <div class="text-wrapper">
        <div class="text">
            Created with 🖤 by
            <a appAnalyticsEvent="Github profile" href="https://github.com/navarog" target="_blank" rel="noopener noreferrer">Navarog</a><br>
            Using <a appAnalyticsEvent="BGG data" href="https://boardgamegeek.com/filepage/193164/wingspan-bird-card-spreadsheet" target="_blank"
                rel="noopener noreferrer">data</a> made by TawnyFrogmouth<br>
            Uses the following fonts:
            <a appAnalyticsEvent="Cardenio Modern page" href="http://nilscordes.com/?page_id=564&lang=en" target="_blank" rel="noopener noreferrer">Cardenio Modern</a> by Nils Cordes,
            <a appAnalyticsEvent="Jost page" href="https://indestructibletype.com/Jost.html" target="_blank" rel="noopener noreferrer">Jost*</a> by Owen Earl,
            <a appAnalyticsEvent="Open Sans page" href="https://github.com/googlefonts/opensans" target="_blank" rel="noopener noreferrer">Open Sans</a> by Steve Matteson,
            <a appAnalyticsEvent="Pangolin page" href="https://github.com/googlefonts/pangolin" target="_blank" rel="noopener noreferrer">Pangolin</a> by Kevin Burke,
            <a appAnalyticsEvent="Silici page" href="https://www.behance.net/gallery/15886979/Silici-Font" target="_blank" rel="noopener noreferrer">Silici</a> by Ferdie Balderas,
            and <a appAnalyticsEvent="Thirsty Rough page" href="https://yellowdesignstudio.com/collections/thirsty-rough/" target="_blank" rel="noopener noreferrer">Thirsty Rough Light</a> by Yellow Design Studio
            <br><br>
            This is not an official Stonemaier Games app and has no official connection to Wingspan
        </div>
    </div>
    <div class="image-wrapper">
        <picture>
            <source type="image/webp" srcset="assets/tit.webp">
            <source type="image/png" srcset="assets/tit.png">
            <img src="assets/tit.png" alt="Great Tit" aria-hidden="true">
        </picture>
    </div>
</footer>

<app-consent *ngIf="displayConsent" (consentChange)="onConsentChange()"></app-consent>
