<app-search></app-search>

<app-display></app-display>

<footer>
    <div class="text-wrapper">
        <div class="text">
            Created with 🖤 by
            <a href="https://github.com/navarog" target="_blank" rel="noopener noreferrer">Navarog</a><br>
            Using <a href="https://boardgamegeek.com/filepage/193164/wingspan-bird-card-spreadsheet" target="_blank"
                rel="noopener noreferrer">data</a> made by TawnyFrogmouth
        </div>
    </div>
    <div class="image-wrapper">
        <picture>
            <source type="image/webp" srcset="assets/tit.webp">
            <source type="image/png" srcset="assets/tit.png">
            <img class="input-image" src="assets/tit.png" alt="Great Tit" aria-hidden="true">
        </picture>
    </div>
</footer>
