<div class="content-wrapper" *ngIf="cardHeight$ | async as cardHeight" [style]="getBirdSilhouette() | async"
    [ngStyle]="{'height.px': cardHeight}">
    <div class="upper-row">
        <div class="grey-square">
            <div class="habitats">
                <picture *ngFor="let habitat of habitats; index as i"
                    class="habitat-wrapper habitat-{{i + 1}}-{{habitats.length}}">
                    <source type="image/webp" srcset="assets/icons/png/{{habitat.toLowerCase()}}.webp">
                    <source type="image/png" srcset="assets/icons/png/{{habitat.toLowerCase()}}.png">
                    <img src="assets/icons/png/{{habitat.toLowerCase()}}.png" alt="{{habitat.toLowerCase()}} birds"
                        class="habitat">
                </picture>
            </div>
            <div class="food" [innerHTML]="buildFoodCostString() | iconize"
                [ngStyle]="{'font-size.px': cardHeight * 0.04, 'line-height.px': cardHeight * 0.04}"></div>
        </div>
        <div class="title-border" [ngStyle]="{'border-width.px': cardHeight / 460}">
            <div class="title" [ngStyle]="{'font-size.px': cardHeight * 0.042, 'line-height.px': cardHeight * 0.042}">
                <span [innerHTML]="displayName(card) | iconize"></span>
            </div>
            <div class="native" [ngStyle]="{'font-size.px': cardHeight * 0.045, 'line-height.px': cardHeight * 0.045}"
                *ngIf="card['Native name']">
                {{card['Native name']}}
            </div>
            <div class="scientific"
                [ngStyle]="{'font-size.px': cardHeight * 0.03, 'line-height.px': cardHeight * 0.035}">
                {{card['Scientific name']}}
            </div>
        </div>
    </div>
    <div class="middle-row">
        <div class="left-column" *ngIf="cardHeight">
            <span [innerHTML]="card['Victory points']+'[point]' | iconize" class="points"
                [ngStyle]="{'font-size.px': cardHeight * 0.064, 'line-height.px': cardHeight * 0.064}"></span>
            <picture *ngIf="resolveNestType() as nest" class="nest">
                <source type="image/webp" srcset="assets/icons/png/{{nest}}.webp">
                <source type="image/png" srcset="assets/icons/png/{{nest}}.png">
                <img src="assets/icons/png/{{nest}}.png" alt="{{card['Nest type']}}" aria-hidden="true">
            </picture>
            <div class="eggs">
                <picture *ngFor="let egg of eggs" class="egg" [ngStyle]="{'max-height.px': cardHeight / 20.64}">
                    <source type="image/webp" srcset="assets/icons/png/smallegg.webp">
                    <source type="image/png" srcset="assets/icons/png/smallegg.png">
                    <img src="assets/icons/png/smallegg.png" alt="smallegg" aria-hidden="true">
                </picture>
            </div>
            <span *ngIf="showBeakDirection" [innerHTML]="getBeakDirectionIcon() | iconize" class="beak"></span>
        </div>
        <div class="right-column" *ngIf="cardHeight">
            <span [innerHTML]="wingspan" class="wingspan-value"
                [ngStyle]="{'font-size.px': cardHeight * 0.034, 'line-height.px': cardHeight * 0.034 }"></span>
            <picture *ngIf="wingspan">
                <source type="image/webp" srcset="assets/icons/png/wingspan.webp">
                <source type="image/png" srcset="assets/icons/png/wingspan.png">
                <img class="wingspan-icon" src="assets/icons/png/wingspan.png" alt="{{wingspan}}" aria-hidden="true">
            </picture>
        </div>
    </div>
    <div class="power-row" [ngClass]="card.Color && card.Color.toLowerCase()" fitText [fitText]="card['Power text']"
        [minFontSize]="7" [maxFontSize]="cardHeight * powerFontSize">
        <div class="power">
            <div class='icons' *ngIf="getPowerIcon().length" [innerHtml]="(getPowerIcon() | iconize)"></div>
            <div class='text' *ngIf="card.Color">
                <span [innerHtml]="getPowerTitle()"></span>
                <span [innerHtml]="(card['Power text'] | iconize:card.Color !== 'white':card.Color !== 'white')"></span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-left">
            <picture *ngIf="card['Swift Start']">
                <source type="image/webp" srcset="assets/icons/png/expansion-indicators/{{getSwiftStartIcon()}}.webp">
                <source type="image/png" srcset="assets/icons/png/expansion-indicators/{{getSwiftStartIcon()}}.png">
                <img class="swift-start-indicator" src="assets/icons/png/expansion-indicators/{{getSwiftStartIcon()}}.png"
                    alt="Swift Start" aria-label="swift start indicator" aria-hidden="true">
            </picture>
        </div>
        <div class="continent">
            <picture>
                <source type="image/webp" srcset="assets/icons/png/map.webp">
                <source type="image/png" srcset="assets/icons/png/map.png">
                <img class="continent-base" src="assets/icons/png/map.png"
                    alt="Continent indicator" aria-label="continent indicator">
            </picture>
            <picture *ngIf="card['North America']">
                <source type="image/webp" srcset="assets/icons/png/map_na.webp">
                <source type="image/png" srcset="assets/icons/png/map_na.png">
                <img class="continent-top" src="assets/icons/png/map_na.png" alt="North America Continent indicator"
                    aria-label="North America continent indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="card['Central America']">
                <source type="image/webp" srcset="assets/icons/png/map_amn.webp">
                <source type="image/png" srcset="assets/icons/png/map_amn.png">
                <img class="continent-top" src="assets/icons/png/map_amn.png" alt="Central America Continent indicator"
                    aria-label="Central America continent indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="card['South America']">
                <source type="image/webp" srcset="assets/icons/png/map_ams.webp">
                <source type="image/png" srcset="assets/icons/png/map_ams.png">
                <img class="continent-top" src="assets/icons/png/map_ams.png" alt="South America Continent indicator"
                    aria-label="South America continent indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="card['Europe']">
                <source type="image/webp" srcset="assets/icons/png/map_e.webp">
                <source type="image/png" srcset="assets/icons/png/map_e.png">
                <img class="continent-top" src="assets/icons/png/map_e.png" alt="Europe Continent indicator"
                    aria-label="Europe continent indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="card['Asia']">
                <source type="image/webp" srcset="assets/icons/png/map_a.webp">
                <source type="image/png" srcset="assets/icons/png/map_a.png">
                <img class="continent-top" src="assets/icons/png/map_a.png" alt="Asia Continent indicator"
                    aria-label="Asia continent indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="card['Africa']">
                <source type="image/webp" srcset="assets/icons/png/map_af.webp">
                <source type="image/png" srcset="assets/icons/png/map_af.png">
                <img class="continent-top" src="assets/icons/png/map_af.png" alt="Africa Continent indicator"
                    aria-label="Africa continent indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="card['Oceania']">
                <source type="image/webp" srcset="assets/icons/png/map_o.webp">
                <source type="image/png" srcset="assets/icons/png/map_o.png">
                <img class="continent-top" src="assets/icons/png/map_o.png" alt="Oceania Continent indicator"
                    aria-label="Oceania continent indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="card['Antarctica']">
                <source type="image/webp" srcset="assets/icons/png/map_an.webp">
                <source type="image/png" srcset="assets/icons/png/map_an.png">
                <img class="continent-top" src="assets/icons/png/map_an.png" alt="Antarctica Continent indicator"
                    aria-label="Antarctica continent indicator" aria-hidden="true">
            </picture>
        </div>
        <div class="footer-flavor"
            [ngStyle]="{'font-size.px': cardHeight * flavorFontSize, 'line-height.px': cardHeight * flavorFontSize + 1}">
            <span class="text">{{card['Flavor text']}}</span>
        </div>
        <div class="footer-right">
            <picture *ngIf="isExpansion()">
                <source type="image/webp" srcset="assets/icons/png/expansion-indicators/{{card.Set}}.webp">
                <source type="image/png" srcset="assets/icons/png/expansion-indicators/{{card.Set}}.png">
                <img class="expansion-indicator" src="assets/icons/png/expansion-indicators/{{card.Set}}.png"
                    [alt]="card.Set" aria-label="expansion indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="isPromo()">
                <source type="image/webp" srcset="assets/icons/png/expansion-indicators/promopack.webp">
                <source type="image/png" srcset="assets/icons/png/expansion-indicators/promopack.png">
                <img class="expansion-indicator" src="assets/icons/png/expansion-indicators/promopack.png"
                    alt="Fan-Designed Bird Packs" aria-label="expansion indicator" aria-hidden="true">
            </picture>
            <picture *ngIf="isPromo()">
                <source type="image/webp" srcset="assets/icons/png/expansion-indicators/{{getPackIcon()}}.webp">
                <source type="image/png" srcset="assets/icons/png/expansion-indicators/{{getPackIcon()}}.png">
                <img class="expansion-indicator" src="assets/icons/png/expansion-indicators/{{getPackIcon()}}.png"
                    [alt]="getPackTitle()" aria-label="pack indicator" aria-hidden="true">
            </picture>
        </div>
    </div>
</div>