.content-wrapper {
    width: 100%;
    height: 100%;
    background-size: 85%;
    background-position-y: center;
    background-position-x: right;
    background-repeat: no-repeat;
}

.grey-square {
    width: 27.27%;
    height: 100%;
    background-color: #c7c1b3;
    border-style: solid;
    border-top-style: none;
    border-width: 0.5px;
    border-color: #74685e;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 6.8%;
}

.title {
    font-family: CardenioModernBold, SiliciStrong, sans-serif;
}

.native {
    font-family: CardenioModernBold, SiliciStrong, sans-serif;
    color: #c0c0c0;
}

.scientific { 
    font-family: ThirstyRoughLt, Arial, Helvetica;
    color: #666666;
}

.upper-row {
    display: flex;
    height: 22%;
}

.title-border {
    border-style: solid;
    margin-top: auto;
    margin-bottom: auto;
    height: 56%;
    border-width: 0.5px;
    margin-left: 1.8%;
    border-right-style: none;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f6f1;
}

.habitats {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

}

.habitat {
    max-height: 100%;
    max-width: 100%;
}

.habitat-wrapper {
    max-height: 56.3%;
    max-width: 45.8%;
}

.habitat-2-3 {
    position: absolute;
    top: 12%;
}

.food {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: CardenioModernBold, SiliciStrong, sans-serif;
}

.middle-row {
    width: 100%;
    height: 47.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-column {
        height: 100%;
        width: 13%;
        margin-left: 7%;
        display: flex;
        flex-direction: column;

            .nest {
                max-width: 100%;
                max-height: 100%;
                position: relative;
                left: -6%;
            }

            img {
                max-width: 90%;
                max-height: 90%;
                padding: 0 5%;
            }
            
            .eggs {
                display: flex;
                flex-wrap: wrap;

                .egg {
                    max-width: 30%;
                    margin: 0 5%;
                }
            }
    }

    .right-column {
        height: 100%;
        width: 18%;
        margin-right: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

            .wingspan-value {
                font-family: CardenioModernBold, SiliciStrong, sans-serif;
                color: #666666;
            }

            .wingspan-icon {
                width: 100%;
            }
    }
}

.points {
    font-family: CardenioModernBold, SiliciStrong, sans-serif;
    color: #4a4139;
    max-height: 15%;
    position: relative;
    padding-top: 36%;
    padding-bottom: 50%;
    margin-top: 80%;

    ::ng-deep {
        .icon-image {
            max-height: 100%;
            max-width: 100%;
            margin: 0;
            left: -36%;
        }

        picture {
            max-height: 100%;
            position: absolute;
            bottom: 10%;
        }
    }
}

.power-row {
    height: 18.8%;
    width: 90%;
    padding: 2% 5%;
    display: flex;
    align-items: center;

    ::ng-deep .intro {
        font-family: CardenioModernBold, SiliciStrong, sans-serif;
        text-transform: uppercase;
    }

    .power {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 3px;
        max-width: 100%;
        max-height: 100%;

        .icons {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
        }

        .text {
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "wdth" 75;
        }
    }
}

.brown {
    background-image: url('../../assets/powers/brown.webp');
    background-size: cover;
}

.no-webpalpha .brown {
    background-image: url('../../assets/powers/brown.png');
}

.pink {
    background-image: url('../../assets/powers/pink.webp');
    background-size: cover;
}

.no-webpalpha .pink {
    background-image: url('../../assets/powers/pink.png');
}

.teal {
    background-image: url('../../assets/powers/teal.webp');
    background-size: cover;
}

.no-webpalpha .teal {
    background-image: url('../../assets/powers/teal.png');
}

.yellow {
    background-image: url('../../assets/powers/yellow.webp');
    background-size: cover;
}

.no-webpalpha .yellow {
    background-image: url('../../assets/powers/yellow.png');
}

.footer {
    height: 9%;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column-reverse;
    width: 7%;
}

.swift-start-indicator {
    border-bottom-left-radius: 8px;
    bottom: 0;
    height: 5%;
    left: 0;
    position: absolute;
}

.continent {
    height: 75%;
    min-width: 23%;
    position: relative;

    .continent-base {
        height: 100%;
        position: absolute;
        z-index: 0;
    }

    .continent-top {
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}

.footer-flavor {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;

    .text {
        text-align: start;
    }
}

.footer-right {
    display: flex;
    flex-direction: row-reverse;

    .expansion-indicator {
        height: 40%;
        margin-right: 3px;
        vertical-align: bottom;
    }
}
