<h2 matDialogTitle>Contribute to your language</h2>

<div matDialogContent>
    <p>
        We want to support every language that Wingspan was translated into, so truly <i>anyone</i> can freely look up
        any card.
        Currently many languages are missing translated names for some birds, translations of their powers or appendix
        info.
        There might be typos in the translation or some languages are not supported at all!
    </p>
    <p>
        Please help! If you own the game in a language that is not fully translated or you've found a typo and want to
        contribute,
        <a href="https://github.com/navarog/wingsearch/tree/master/i18n" target="_blank"
            rel="noopener noreferrer">follow this link</a>
        or write me directly at
        <a href="mailto:matej.cief@gmail.com?subject=Wingsearch language contribution">matej.cief@gmail.com</a>
    </p>

    <h3>Many thanks in advance!</h3>
</div>

<div matDialogActions>
    <button mat-button matDialogClose cdkFocusInitial><b>Close</b></button>
</div>
