
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$wingsearch-primary: mat-palette((
    50 : #ece8e2,
    100 : #d0c7b7,
    200 : #b1a187,
    300 : #917b57,
    400 : #7a5f33,
    500 : #62430f,
    600 : #5a3d0d,
    700 : #50340b,
    800 : #462c08,
    900 : #341e04,
    A100 : #ffaf6c,
    A200 : #ff9439,
    A400 : #ff7806,
    A700 : #eb6c00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
));
$wingsearch-accent: mat-palette((
    50 : #e5f4f3,
    100 : #bee4e1,
    200 : #93d3cd,
    300 : #67c1b8,
    400 : #47b3a9,
    500 : #26a69a,
    600 : #229e92,
    700 : #1c9588,
    800 : #178b7e,
    900 : #0d7b6c,
    A100 : #adfff3,
    A200 : #7affec,
    A400 : #47ffe4,
    A700 : #2dffe0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
));

// The warn palette is optional (defaults to red).
$wingsearch-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wingsearch-theme: mat-light-theme($wingsearch-primary, $wingsearch-accent, $wingsearch-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wingsearch-theme);

/* You can add global styles to this file, and also import other style files */

html, body, .flycatcher { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('assets/background.webp');
    background-size: cover;
}

.no-webpalpha body {
    background-image: url('assets/background.png');
}

.flycatcher {
    background-image: url('assets/flycatcher.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.no-webpalpha .flycatcher {
    background-image: url('assets/flycatcher.png');
}

.wingsearch-title {
    display: none;
}

@media screen and (min-width: 850px) {
    .flycatcher {
        padding-top: 6vh;
        background-position-y: 100px;
        display: flex;
        flex-direction: column;
    }

    .wingsearch-title {
        display: unset;
        font-family: CardenioModernBold, Arial, sans-serif;
        color: #f5f6f1;
        font-size: 140px;
        line-height: 140px;
        width: 100%;
        text-align: center;
        padding-bottom: 3vh;
    }
}

.icon-image {
    max-width: 1em;
    max-height: 1em;
    position: relative;
    bottom: -0.1em;
}

.icon-picture {
    max-height: 1em;
    max-width: 1em;
}

.nobr {
  white-space: nowrap;
}

.card-detail-panel {
        .mat-dialog-container {
        background-color: unset;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        overflow-x: hidden;
    }
}

.mat-dialog-content.detail-container {
    height: 100vh;
    max-height: unset;
    margin: 0;
    padding: 0;
}

strong[applink] {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .bonus-card-option {
        height: 128px!important;
    }
}

@media screen and (max-width: 599px) {
    .bonus-card-option {
        height: 148px!important;
    }
}

@font-face {
    font-family: CardenioModernRegular;
    src: url('assets/fonts/CardenioModern-Regular.otf') format("opentype");
}

@font-face {
    font-family: CardenioModernBold;
    src: url('assets/fonts/CardenioModern-Bold.otf') format("opentype");
}

@font-face {
    font-family: ThirstyRoughLt;
    src: url('assets/fonts/ThirstyRoughLt.otf') format("opentype");
}

@font-face {
    font-family: DarbogBold;
    src: url('assets/fonts/Darbog-Bold.otf') format("opentype");
}

@font-face {
    font-family: FuturaLight;
    src: url('assets/fonts/Futura-Light.otf') format("opentype");
}

@font-face {
    font-family: FuturaCondensed;
    src: url('assets/fonts/Futura-Condensed-Regular.otf') format("opentype");
}
