
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wingsearch-primary: mat-palette($mat-indigo);
$wingsearch-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wingsearch-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wingsearch-theme: mat-light-theme($wingsearch-primary, $wingsearch-accent, $wingsearch-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wingsearch-theme);

/* You can add global styles to this file, and also import other style files */

html, body, .flycatcher { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('assets/background.png');
    background-size: cover;
}

.flycatcher {
    background-image: url('assets/flycatcher.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.wingsearch-title {
    display: none;
}

@media screen and (min-width: 850px) {
    .flycatcher {
        padding-top: 6vh;
        background-position-y: 100px;
        display: flex;
        flex-direction: column;
    }

    .wingsearch-title {
        display: unset;
        font-family: CardenioModernBold, Arial, sans-serif;
        color: white;
        font-size: 140px;
        line-height: 140px;
        width: 100%;
        text-align: center;
        padding-bottom: 3vh;
    }
}

.icon-image {
    max-width: 18px;
    max-height: 18px;
    margin: 0 2px;
    position: relative;
    bottom: -4px;
}

.card-detail-panel {
    max-width: min(700px, 80vw)!important;

    .mat-dialog-container {
        background-color: unset;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 600px) {
    .bonus-card-option {
        height: 128px!important;
    }
}

@media screen and (max-width: 599px) {
    .bonus-card-option {
        height: 148px!important;
    }
}

@font-face {
    font-family: CardenioModernRegular;
    src: url('assets/fonts/CardenioModern-Regular.otf') format("opentype");
}

@font-face {
    font-family: CardenioModernBold;
    src: url('assets/fonts/CardenioModern-Bold.otf') format("opentype");
}

@font-face {
    font-family: ThirstyRoughLt;
    src: url('assets/fonts/ThirstyRoughLt.otf') format("opentype");
}

@font-face {
    font-family: DarbogBold;
    src: url('assets/fonts/Darbog-Bold.otf') format("opentype");
}

@font-face {
    font-family: FuturaLight;
    src: url('assets/fonts/Futura-Light.otf') format("opentype");
}

@font-face {
    font-family: FuturaCondensed;
    src: url('assets/fonts/Futura-Condensed-Regular.otf') format("opentype");
}
