mat-panel-title > mat-form-field {
    margin-bottom: 20px;
    width: 300px;
    margin-right: 16px;
}

mat-panel-title {
    justify-content: space-between;
}

.long-field {
    width: 100%;
}

.input-image {
    height: 15.5px;
}