<mat-expansion-panel (window:resize)="onResize()">
    <mat-expansion-panel-header collapsedHeight="84px" expandedHeight="84px">
        <mat-panel-title>
            <mat-form-field appearance="standard" (click)="$event.cancelBubble = true">
                <mat-label>
                    <img class="input-image" src="assets/icons/png/flocking.png" aria-hidden="true">
                    Search birds and bonus cards
                </mat-label>
                <input matInput autocomplete="off" [(ngModel)]='query.main' (ngModelChange)="onQueryChange()"
                    (keydown)="onKeyDown($event)">
                <button mat-icon-button *ngIf="query.main" matSuffix aria-label="Clear"
                    (click)="query.main=''; onQueryChange()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint>Use card name or description</mat-hint>
            </mat-form-field>
            <app-stats *ngIf="canFitStats" [mobile]="false"></app-stats>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="long-field" appearance="standard">
        <mat-label>
            <img class="input-image" src="assets/cards/backgrounds/bonus-background.jpg" aria-hidden="true">
            Search birds by applicable bonus card
        </mat-label>
        <mat-hint>Use bonus card name or condition</mat-hint>
        <input #bonusInput type="text" matInput [(ngModel)]="bonusfield" (ngModelChange)="onBonusChange()"
            [matAutocomplete]="auto">
        <button mat-icon-button *ngIf="bonusfield" matSuffix aria-label="Clear"
            (click)="bonusfield=''; query.bonus=''; onBonusChange(); onQueryChange()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
            (optionSelected)="query.bonus = bonusfield; onQueryChange()">
            <mat-option class="bonus-card-option" *ngFor="let card of filteredBonusCards | async"
                [value]="card['Name']">
                <app-bonus-card-option [card]="card"></app-bonus-card-option>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <app-stats *ngIf="!canFitStats" [mobile]="true"></app-stats>
</mat-expansion-panel>