@media screen and (min-width: 850px) {
    mat-expansion-panel {
        max-width: 700px;
        margin: 0 auto 300px auto;
        background-color: #f5f6f1;
    }

    mat-expansion-panel.mat-expanded {
        margin: 0 auto 100px auto;
    }
}

mat-panel-title > mat-form-field {
    margin-bottom: 20px;
    width: 300px;
    max-width: 70vw;
    margin-right: 16px;
}

mat-panel-title {
    justify-content: space-between;
}

.long-field {
    width: 100%;
}

.input-image {
    height: 15.5px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-column:last-child {
    align-items: flex-end;
}

.language-select {
    max-width: 50px;
    flex: 1 1 0;
    max-height: 50px;
    top: 12px;
}

.language-option {
    ::ng-deep .mat-option-text {
        display: flex;
    }

    span {
        width: 2.5em;
        display: flex;
        justify-content: center;

        img {
            max-height: 1em;
        }
    }
}

mat-select-trigger {
    img {
        max-height: 1em;
    }
}

@media screen and (max-width: 460px) {
    .language-select {
        width: 20px;
        margin: 0 10px;
        top: 4px;
    }

    .row {
        flex-direction: column;
    }

    .flex-column:last-child {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;

        button {
            margin-top: 4px;
        }
    }
}

.flex-mgt20 {
    display: flex;
    margin-top: 20px;
}

.expansion-image {
    max-height: 40px;
}

.description {
    font-family: CardenioModernBold, Arial, Helvetica;
    color: #666666;
    font-size: larger;
    white-space: break-spaces;
    max-width: 60px;
}

.inactive {
    opacity: 0.5;
}

.clickable {
    cursor: pointer;
    display: flex;
    min-width: 100px;
}

.clickable:first-child {
    padding-top: 16px;
}

::ng-deep {
    .custom-slider .ng5-slider {
        margin: 10px 0 18px;
    }

    .custom-slider .ng5-slider .ng5-slider-bar {
        background: #cecece;
        height: 2px;
        width: calc(100% - 8px);
        margin-left: 8px;
    }

    .custom-slider .ng5-slider .ng5-slider-selection {
        background: #666666;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer {
        width: 12px;
        height: 12px;
        top: auto;
        bottom: -3px;
        background-color: #666666;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: none;
    }

    .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 14px;
    }

    .custom-slider .ng5-slider .ng5-slider-limit {
        font-weight: bold;
        color: #666666;
    }

    .custom-slider .ng5-slider .ng5-slider-tick {
        width: 8px;
        height: 8px;
        margin-left: 4px;
        background: #cecece;
    }

    .custom-slider .ng5-slider .ng5-slider-tick-value { 
        top: unset;
        color: #666666;
        font-family: DarbogBold;
    }

    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
       background: #666666;
    }
}

.custom-slider {
    width: 100%;
    width: -webkit-fill-available;
}

.slider-wrapper {
    display: flex;
    flex: 1 1 auto;
    height: 34px;
    padding-top: 6px;
    margin-right: 14px;
}

mat-chip.custom-chip {
    color: #555555;
    font-family: DarbogBold;
    background-color: #e8e8e8;
}

.pointer {
    cursor: pointer;
}

.power-image {
    width: 100%;
    max-width: 80px;
    margin: 0 4px;
}

.justify-content-unset {
    justify-content: unset;
}

.shrink {
    flex-shrink: 1;
}

.food-image {
    width: 100%;
    max-width: 30px;
    margin: 0 8px;
}

.flex-center {
    display: flex;
    align-items: center;

    .food-image {
        max-width: 50px;
    }
}

button {
    max-height: 40px;
}
